* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #264653;
}

a {
  text-decoration: none;
}

.clubs {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.club {
  width: 20%;
  background-color: #e9c46a;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.club:hover .club__activities {
  display: block;
}

.club__city {
  position: absolute;
  top: 5px;
  right: 5px;
}

.club__logo {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 100px;
}

.club__title {
  font-size: 25px;
  text-align: center;
}

.club__activities {
  display: none;
  margin-top: 10px;
  list-style: none;
}

.club__activity {
  margin: 5px;
  font-size: 20px;
}

.clubs__button--active {
  border: 1px solid #264653;
  background-color: #e9c46a;
}

.button {
  outline: none;
  cursor: pointer;
  border: 1px solid #264653;
  border-radius: 5px;
  margin: 2px;
  font-size: 15px;
  padding: 5px;
}
